/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #da0606;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    height: 70vh; 
    background: url('/img/upc.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente para mejorar la legibilidad */
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.features {
    background: #fff;
    padding: 50px 20px;
    text-align: center;
}

.features h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.features .feature {
    margin: 20px 0;
}

.about, .signup, footer {
    padding: 50px 20px;
    text-align: center;
}

.signup form {
    max-width: 600px;
    margin: 0 auto;
}

.signup label {
    display: block;
    margin: 10px 0 5px;
}

.signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.signup .btn {
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}
